*{
    list-style-type: none;
    font-family: 'montserrat';
}
#banner{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    position: sticky;
    background-color: ghostwhite;
    
}
a{
    text-decoration: none;
    color: black;
}
.logo{
    display: flex;
    align-items: center;
    padding-left: 10%;
}
.logo-text{
    margin: 5px;
    padding: 5px 10px;
    font-size: 28px;
    font-weight: 800;
    font-style: italic;
}
.nav-button{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    align-items: center;
    padding-right: 5rem;
}

.nav-button ul{
    display: flex;
    column-gap: 0.2rem;
}
.nav-button ul li{
    padding:0.5rem 1rem;
    border: 1px solid rgba(0,0,0,0.1);
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 15px;
    font-weight: 500;    
}
.nav-button ul li:hover{
    background-color: deepskyblue;
}
.main-content{
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
}
.message-form{
    padding: 20px 5px;
    background-color: whitesmoke;
    width: 50%;
}
.question{
    margin: 10px 10px 20px 10px;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    justify-content: flex-start;
    
}
.question input, textarea{
    margin-left: 10px;
}
#form-section{
    display: flex;
    justify-content: space-between;

}
#display{
    width: 50%;
    height: 40vh;
    margin: 10px;
    border: 1px solid rgba(0,0,0);
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    column-gap:20px;
}